* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
body{
    background-color: lavender;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.card{
	max-width: 800px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    text-align: center;
}

.card h1{
    font-size: 2rem;
}

.input-container {
    position: relative;
    margin-top: 50px;
    width: 80%;
    left: 20px;
  }
  
  .input-fichier {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  
  .input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .input-aesthetic {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #184766;
    transition: all 0.3s ease;
  }
  

  .input-fichier:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: #184766;
  }
  
  .input-fichier:focus + .input-label + .input-aesthetic {
    width: 110%;
  }
  .btn{
    background-color:transparent;
    border: none;
    padding: 10px;
    border-radius: 500px;
    margin-top: 1.5em;
    font-size: 1em;
    justify-content: center;
    align-items: center;
  }
  
  .btn img{
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
}
.navbar button {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.navbar h1 {
    margin: 0;
    font-size: 2rem;
}