* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body {
  background-color: #e6e6fa;
  margin: 0; /* Supprime les marges par défaut */
  min-height: 100vh; /* Simule une page plus longue pour tester le scroll */
  overflow-y: auto; /* Permet le défilement global sur toute la page */
  display: flex;
  justify-content: center; /* Centre la card horizontalement */
  align-items: flex-start; /* Aligne la card en haut de la page */
  padding: 20px; /* Ajoute un espace autour de la card */
}

.card {
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px; /* Largeur fixe */
  min-height: 500px; /* Hauteur minimale pour la card */
  position: relative; /* Permet à la card de s'adapter à son contenu */
  padding: 15px;
  text-align: center;
  overflow: visible; /* Permet au contenu de dépasser si nécessaire */
  margin-top: 20px; /* Ajoute un espace en haut pour éviter qu'elle touche le bord */
}

.card h1{
  font-size: 2rem;
}

.input-container {
  position: relative;
  margin-top: 50px;
  width: 80%;
  left: 20px;
}

.input-fichier {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-aesthetic {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #184766;
  transition: all 0.3s ease;
}

.input-fichier:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #184766;
}

.input-fichier:focus + .input-label + .input-aesthetic {
  width: 110%;
}

.btn{
background-color:transparent;
border: none;
padding: 10px;
border-radius: 500px;
margin-top: 2.5em;
font-size: 1em;
justify-content: center;
align-items: center;
}

.btn img{
display: inline-block;
justify-content: center;
align-items: center;
}